
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600&family=Dancing+Script&family=Josefin+Sans:wght@200;300;400;700&display=swap');


/* Estilos para dispositivos móviles */
/* @media (max-width: 767px) {
    .container {
      background-color: lightblue;
      padding: 10px;
    }
    h1 {
      font-size: 24px;
    }
  }
  */ 
  /*Estilos para ordenadores*/
   @media (min-width: 760px) {
   
    h1 {
      font-size: 36px;
    }
    .desktop-nav {
        display: flex;
        flex-direction: row; 
        align-items: center;  
        gap: 50px;      
    }
    .desktop-nav>a {
        padding: 0px 20px 0px 20px ;
        color:#7f2fab;
        text-decoration: none;      
    }  
    .desktop-nav>a:hover {
        text-decoration: underline;    
    }

    .material-symbols-outlined {
        color:purple;
        width: 30px;
        height: 30px;
        font-size: 30px;
        border:1px solid;
        border-radius: 50%;
        font-variation-settings:
        'FILL' 6,
        'wght' 1000,
        'GRAD' 3,
        'opsz' 24 !important
       
    }
    .symbol-container:hover{
       transform: scale(1.5);
    
    }
    .mobile-nav {
        display: none;
    }
  }

   /*Estilos para MOVIL*/
   @media only screen and (max-width: 760px) {
    .desktop-nav {       
        display: none;
      }
  
    .mobile-nav {
      display: block;
    }
  
    .toggle-btn {
      background-color: #3b3838;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  
    .menu-items {
      display: none;
       
    }
    .menu-items.show-menu {
        display: flex;
      }
  
    .menu-items a {
      color: black;
      text-decoration: none;
      padding: 10px;
    }
  }
/*NAV*/

header{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    width: 100%;
    align-content: center;
    text-align: center;   
    background-color: #FFEC3E;
    padding: 4px;
    font-variant: initial;
    
}
header>div{
   margin :30px 10px 20px 0px;
   padding-left:10px;   
    color:#661f8c  ;   
}
.titulo{
    margin: 0px !important;
    font-size: 37px !important; 
    letter-spacing: 2px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: bold ;
    border-radius: 28px;  
    background-color: white;  
    box-shadow: 0px 0px 14px 4px #ffffff; 
    padding: 10px 10px 0px 10px;   
}
.navbar{
    margin:0px 0px 50px 0px;  
    padding: 5px 40px 5px 35px  !important;  
    box-shadow: 4px 0px 4px 2px #661f8c;  
    background-color: white;
    width: 100%;     
    justify-content: center;   
}

a.link{
    color:rgb(255, 255, 255);      
}



/*GENERALES*/
main{
    display: flex; 
    flex-direction: column;  
    
    justify-content: center;    
}
.entrada{    
    padding:0px 90px 30px 90px;  
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Akshar', sans-serif;
}

label{
    margin: 5px;
    font-weight: 800;
}
body{
    background-color: hsl(0, 0%, 100%);
    margin:0px ;
    width: 100%;
    text-align: center;
    /* CONSEGUIR FOOTER AL FINAL BODY con FLEX; MINIMO altura PANTALLA 100vh*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; 
    color: #661f8c  ;  
  
}

h3{
    color:#471363
}
h2{
    color:#471363
}

h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    font-size: 1.33em;
}
strong{
    font-variant: small-caps;
    font-weight: 700;
    font-size: 0.9em;
}

.filosofia{
   columns: 300px 2;
   column-gap:30px;
   padding: 20px;
   text-align: left;
}

/*FORMULARIO GENERAL */

.error{
    color:black;
    background:linear-gradient( rgb(249, 92, 92),rgb(245, 221, 221)) ;
    border-radius: 20px;
    margin: 0px auto;
    padding:5px 16px;
   position: relative;
   width: 220px;
   align-items: center;   
}
.form-control{   
    font-size: 0.9em;
    font-variant: small-caps;
    font-family: inherit;
    margin: 2px 1px 1px 1px;
    border-color: #661f8c;
   
}

/*INDEX FORMULARIO CREAR USUARIO */
.form{     
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5px auto;
    
    width:300px;
    height:auto; 
    background-color: rgb(255, 255, 255)!important;   
  
    box-shadow:0px 0px 8px 1px #661f8c9c ;
    border-radius: 5px;
    padding: 10px;
    font-variant: small-caps;
   
}
.cuadro{
    background-color: rgba(46, 93, 150, 0.8);
    color: white;
    font-size:0.9em;
    padding: 30px;
    border-radius: 30px;
       
   
}
/* IMAGENES */
.imagenes{
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
   padding:30px;
    min-height: 50vh;

}
.imagen{
    float: left;
    font-size: 0.9em;
    margin: 10px;   
    
}
.card-body{
    font-size: 0.9em;
    height:90px;

}
.btn.btn-primary{
    font-size: small !important;
    background-color:#802fabad ;
    text-shadow: 2px 1px 10px rgb(18, 48, 80);
    width: auto;
    height: auto;
    margin:0px 0px;
    padding:3px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.insertarImagen{
    font-size: 13px;
}

/*PUBLICAR*/
.formLoggin {  
    /* FLEXBOX IMAGENES*/
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5px auto;
    
    width:350px;
    height:auto; 
    background-color: rgb(225, 239, 244)!important;
    border-color:#5485c1;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
   
 
} 
div.publicaAnimal{
    display: inline-block;
    width: 365px;
    /* display: flex;
    flex-direction: column;     */
   
}
.avisoAnimal{    
    color:white !important;
    background-color: rgba(46, 93, 150, 0.8);
    padding: 15px;
    border-radius: 30px;
}
.ventana-modal {    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}  
.contenido-ventana {
    background-color: #d1ebec;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
 
/*PERFIL*/
#datosPerfil{
    width:400px;    
    float:left;
}
.entrada_perfil{    
    padding:0px 0px 30px 0px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.linea{
    background-color: #ffec3e85;
    color:black;
}

/*VISTA ANIMAL*/
.vista_animal{
    display:flex;
    justify-content:center;
    margin:0px 40px;
    align-items: center;  
    
    flex-wrap: wrap;  
}

  /*FOOTER*/
  /* #footer{   
    margin-top:10px;   
    padding: 20px !important;
 }*/
 #footer a{
     margin-top:auto;
     padding-right: 30px;
 } 
