
/*GENERALES*/
header{    
    height:110px ;     
    padding:20px 30px;  
    align-content: center;
    text-align: center;   
    
}
header>h1{
    margin:0;
    font-size: 60px;    
    font-family: serif;   
    color:#2c61a2  ;
}
nav{
    margin-bottom: 70px;   
    list-style: none;   
    padding: 0px 100px !important;  
    box-shadow: 4px 0px 4px 2px #3C6CA8;  
    width: 100%;     
}

main{
    display: flex;   
    
    justify-content: center;    
}
.entrada{    
    padding:0px 100px 30px 100px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.entrada_perfil{    
    padding:0px 50px 30px 50px;
  
   display: flex;
   flex-direction: column;
   justify-content: center;
}
  
a.link{
    color:rgb(255, 255, 255);      
}
label{
    margin: 5px;
    font-weight: 800;
}
body{
    background-color: rgb(244, 228, 200);
    margin:0px ;
    font-variant: small-caps;
    text-align: center;
    /* CONSEGUIR FOOTER AL FINAL BODY con FLEX; MINIMO altura PANTALLA 100vh*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important; 
    color: #21518b  ;  
}
li{
    font-weight:600;
}
/*FORMULARIO GENERAL */
form{
    background-color: rgb(225, 239, 244)!important;
    border-color:#5485c1;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    padding:5px;   
    
}

.error{
    color:black;
    background:linear-gradient( rgb(249, 92, 92),rgb(245, 221, 221)) ;
    border-radius: 20px;
    margin: 0px auto;
    padding:5px 16px;
   position: relative;
   width: 220px;
   align-items: center;   
}
input.form-control{   
    font-size: 0.9em;
    margin: 0px 5px;  
    font-variant: small-caps;
    font-family: inherit;
}

/*INDEX FORMULARIO CREAR USUARIO */
.formUsuario {       
    float:left;   
    margin:0px;
    padding: 10px;
    margin-left: 22px;
    min-width: 10%;   
    display: flex;  
    flex-direction: column;
}
.cuadro{
    background-color: rgba(46, 93, 150, 0.8);
    color: white;
    font-size:0.9em;
    padding: 30px;
    border-radius: 30px;
       
   
}
/* IMAGENES */
.imagenes{
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
   
    min-height: 50vh;

}
.imagen{
    float: left;
    font-size: 0.9em;
    margin: 10px;   
    
}
.card-body{
    font-size: 0.9em;
    height:90px;

}
.btn.btn-primary{
    font-size: small !important;
    background-color:#3C6CA8 ;
    text-shadow: 2px 1px 10px rgb(18, 48, 80);
    width: auto;
    height: auto;
    margin:0px 20px;
    padding:3px;
}
/*BUSCO*/
.formFiltro {
    float: left;
}

/*PUBLICAR*/
.formLoggin {  
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5px auto;
    
    width:350px;
    height:auto;    
} 
div.publicaAnimal{
    display: inline-block;
    width: 365px;
    /* display: flex;
    flex-direction: column;     */
   
}
.avisoAnimal{    
    color:white;
    background-color: rgba(46, 93, 150, 0.8);
    padding: 15px;
    border-radius: 30px;
}
.ventana-modal {    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}  
.contenido-ventana {
    background-color: #d1ebec;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
 
/*PERFIL*/
#datosPerfil{
    width:400px;    
    float:left;
}

/*VISTA ANIMAL*/
.vista_animal{
    display:flex;
    justify-content:center;
    margin:0px 40px;
    align-items: center;    
}


  /*FOOTER*/
  /* #footer{   
    margin-top:10px;   
    padding: 20px !important;
 }*/
 #footer a{
     margin-top:auto;
     padding-right: 30px;
 } 