/*GENERALES*/
header{    
    height:110px ;     
    padding:20px 30px;
    color:#3C6CA8;
    align-content: center;
    text-align: center;   
}
header>h1{
    margin:0;
    font-size: 60px;    
}
nav{
    margin-bottom: 70px;
    font-variant: normal ;
    list-style: none;
    
    justify-content: center;
    padding: 0px 100px !important;  
    box-shadow: 4px 0px 4px 2px #3C6CA8;  
    display: inline-block;   
}
nav>a{
    color: #3C6CA8;
}
a.link{
    color:rgb(227, 242, 214);
   font-style: oblique;   
}
label{
    margin: 5px;
    font-weight: 800;
}
body{
    background-color: rgb(244, 228, 200);
    margin:0px ;
    font-variant: small-caps;
    text-align: center;
/* CONSEGUIR FOOTER AL FINAL BODY con FLEX; MINIMO altura PANTALLA 100vh*/
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}
li{
    font-weight:600;
}
/*FORMULARIO GENERAL */
form{
    background-color: rgb(225, 244, 240)!important;
    border-color:#3C6CA8;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    padding:10px;   
    color:#294b75;
}
.formFiltro {
   
    width: 200px;
    float: left;
    margin-left: 30px;
}
.error{
    color:black;
    background:linear-gradient( rgb(249, 92, 92),rgb(245, 221, 221)) ;
    border-radius: 20px;
    margin: 0px auto;
    padding:5px 16px;
   position: relative;
   width: 220px;
   align-items: center;   
}
input.form-control{   
    font-size: 0.9em;
}

/*FORMULARIO LOGIN */
.formLoggin {  
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5px auto;
    
    width:350px;
    height:auto;    
} 

/*FORMULARIO CREAR USUARIO */
.formUsuario {       
    float:left;   
    margin:0px;
    padding: 10px;
    margin-left: 30px;
    width: 250px;       
}
.cuadro{
    background-color:#3C6CA8;
    color: white;
    font-size:0.9em;
    border-radius: 10px;   
    max-width: 320px; 
    padding: 5px;
    display: inline-block;
}
/*IMAGENES INDEX */
.imagenes{
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin:20px;
    color: #294b75;
    
}
.imagenes>p{
    width: 1000px;   
    padding:20px 20px;
}
.imagen{
    float: left;
    font-size: 0.9em;
    margin: 10px;
    height:200px;
}
.card-body{
    font-size: 0.9em;

}
.btn.btn-primary{
    font-size: small !important;
    background-color:#3C6CA8 ;
    text-shadow: 2px 1px 10px rgb(18, 48, 80);
    width: auto;
    height:25px;
    padding:3px;
}

/*ENCONTRADO*/
div.publicaAnimal{
    display: inline-block;      
    width: 700px;
}

.avisoAnimal{    
    color:white;
    background-color: rgb(239, 60, 60);
    padding: 15px;
    border-radius: 30px;
}
.ventana-modal {    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .contenido-ventana {
    background-color: #d1ebec;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
/*PERFIL*/
#datosPerfil{
    width:400px;    
    float:left;
}
.formInfo{
    display: flex;
    margin-left: 100px;
}

/*ACOGIDA*/
.entradaAcogida{
    color: #294b75;
    width: 800px;
    display: inline-block;  
}

  /*FOOTER*/
  #footer{   
    margin-top:10px;   
    padding: 20px !important;
 }
 #footer a{
     margin-top:auto;
     padding-right: 30px;
 }