header{    
    height:100px ;
     
    padding:20px 30px;
    background-color: rgb(58, 167, 171);
    color: white;

   align-content: center;
    text-align: center;
    text-shadow: 2px 1px 10px rgb(7, 32, 59);
    font-family: monospace;
    font-variant: small-caps;
    font-size: 1.4em;   
}
header>p{
    margin:0;
}
nav{
    margin-bottom: 40px;
    font-variant: normal ;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px 100px !important;  
}
label{
    margin: 5px;
}

body{
    background-color: rgb(244, 228, 200);
    margin:0px ;
    font-variant: small-caps;
    text-align: center;
/* CONSEGUIR FOOTER AL FINAL BODY con FLEX; MINIMO altura PANTALLA 100vh*/
    flex-direction: column;
    min-height: 100vh;
   
}

li{
    font-weight:600;
}
/*FORMULARIO GENERAL */
form{
    background-color: rgb(190, 227, 221)!important;
    border-color: rgb(10, 57, 37);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding:10px;    
}
.formFiltro {
    height:330px !important;
    width: 220px;
    float: left;
    margin-left: 30px;
    

}

.error{
    color:black;
    background:linear-gradient( rgb(249, 92, 92),rgb(245, 221, 221)) ;
    border-radius: 20px;
    margin: 0px auto;
    padding:5px 16px;
   position: relative;
   width: 220px;
   align-items: center;   
}
input.form-control{   
    font-size: 0.9em;
}

/*FORMULARIO LOGIN */
.formLoggin {  
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5px auto;
    
    width:350px;
    height:auto;    
} 

/*FORMULARIO INFO PERFIL */
.formInfo{
    display: inline-block;
    width:350px;
    
   
}
/* unused perfil
.info{
    float:left;
    width:300px;
}*/
.cuadro{
    background-color:  rgb(58, 167, 171);
    color: white;
    border-radius: 10px;    
    padding: 5px;
}
a.link{
    color:rgb(195, 227, 175);
   font-style: oblique;
    font-weight: bold;
   
}
/*FORMULARIO CREAR USUARIO */
div.formUsuario {       
    float:left;   
    margin:0px;
    padding: 10px;
    margin-left: 30px;
    width: 250px;  
        
}
/*IMAGENES INDEX */
.imagenes{
    /* FLEXBOX IMAGENES*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin:20px;
    
}
.imagenes>p{
    width: 1000px;
   
    padding:30px 30px;
}
.imagen{
    float: left;
    font-size: 0.9em;
    margin: 10px;
    height:200px;
}
.card-body{
    font-size: 0.9em;

}
.btn.btn-primary{
    font-size: small !important;
    background-color: rgb(58, 167, 171);
    text-shadow: 2px 1px 10px rgb(7, 32, 59);
    width: auto;
    height:25px;
    padding:3px;
}


div.publicaAnimal{
    display: inline-block;
    width:500px;
    margin-left: 20px;
}

#footer{
   
    margin-top:10px;   
    padding: 20px !important;
 }
 #footer a{
     margin-top:auto;
     padding-right: 30px;
 }

